.header {
  box-sizing: border-box;
  height: 500px;
  padding-top: 30px;
  position: relative;
  background: url('../images/hero-picture.jpg') no-repeat;
  z-index: 1;

  &__logo {
    position: absolute;
    top: 65px;
    left: 140px;

    &__img {
      width: 180px;
    }
  }
}