.menu {
  width: 800px;
  height: 100px;
  margin: 0 auto;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,.2);

  &__list {
    display: flex;
    justify-content: flex-end;
    &__item {
      height: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 15px;
      cursor: pointer;
      &--active {
        background: #ccc;
      }
      &:last-child {
        padding-right: 30px;
      }
      &:hover {
        background: #ccc;
      }
      &__link {
        font-size: 14px;
        text-decoration: none;
      }
    }
  }
}