.commentAuthor {
  position: absolute;
  width: 540px;
  margin-top: -123px;
  text-align: center;

  &__img {
    width: 60px;
    border-radius: 50%;
    border: 3px solid var(--color-porcelain);
  }

  &__caption {
    font-size: var(--font-size-1);
    font-weight: bold;
    padding: 5px 0;
    color: var(--color-boulder);
  }

  &__profession {
    font-size: var(--font-size-1);
    font-weight: normal;
    color: var(--color-boulder);
  }
}